@import url(./fonts/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-wotfardRegular text-white bg-black;
  /* font-family: WotfardRegular, system-ui, -apple-system, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !important; */
}

.bg-d_inmaintain {
  background-image: url(./bg/in_maintain.png);
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bg-d_inmaintain__overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81));
  z-index: -1;
}

p {
  @apply text-gray;
}

.bg__txt_blue {
  @apply z-10 relative;
}

.bg__txt_blue:after {
  content: '';
  @apply -rotate-3 bg-blue opacity-80 h-full w-full absolute left-0 -z-10;
}

mark {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  /* background-size: 100% 8px; */
  background-repeat: no-repeat;
  /* background-size: 100% 0.3em; */
  background-position: 0 88%;
  font-weight: inherit;
  /* background-image: url(./bg/large-brush-heading.svg); */
  color: inherit;
  @apply text-white;
}
.mark__txt_blue {
  @apply bg-gradient-to-r from-green via-green to-green bg-opacity-90;
}
